
@font-face {
  font-family:"PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family:"PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/*border: 4px solid #c00313; - красная рамка для отладки блоков*/

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
}
.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-list {
  list-style-type: none;
}
.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.navigation-user {
  list-style-type: none;
}

.main-index {
  text-align: center;
}

.index-header{
  height: 485px;
  background-color: #83B3D3;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.welcome {
  height: 485px;
  background-image: url("../images/divider-transparent.png");
  background-size: 100% auto;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.welcome-title {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

}

.welcome-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

.benefits-list {
 list-style-type: none;
}

.benefits-detail-list {
 list-style-type: none;
}

.benefits-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}


.benefits-dark {
  color: #ffffff;
  background-color: #83b3d3;
}

.benefits-light {
  background-color: rgba(131,179,211,0.12);
}

.benefits-blue {
  background-color: rgba(131,179,211,0.20);
}

.benefits-description {
  color: #333333;
}

.benefits-dark .benefits-description {
  color: #ffffff;
}

.searching-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.searching-description {
  font-size: 30px;
  line-height: 36px;
  color: #333333;
}

.newsletter {
  color: #ffffff;
  height: 411px;
  background-color: #83b3d3;
  background-image: url("../images/news-letter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;

}
.newsletter-descrption {
  font-size: 22px;
  line-height: 26px;
}

.footer-contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}









