@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;

  background-color: #e5e5e5;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #83b3d3;
  border: 0;
  border-radius: 4px;
  outline-offset: 0;

  cursor: pointer;
}

.button-dark {
  background-color: #756257;
}

.button-contrast {
  background-color: #7db54f;
}

.button:disabled,
.button-dark:disabled,
.button-contrast:disabled {
  background-color: #e5e5e5;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #68a2ca;
}

.button-contrast:hover,
.button-contrast:focus,
.button-contrast:active {
  background-color: #6c9e42;
}

.button-dark:hover,
.button-dark:focus,
.button-dark:active {
  background-color: #615048;
}

.button:focus {
  outline: 3px solid #615048;
}

.button-dark:focus {
  outline: 3px solid #83b3d3;
}

.button:active,
.button-contrast:active,
.button-dark:active {
  color: rgba(255, 255, 255, 0.3);

  outline: none;
}

.navigation {
  position: relative;

  display: flex;
  width: 891px;
  margin: 0 auto;
  padding: 0;
  padding-left: 169px;
}

.navigation-logo {
  position: absolute;
  left: 0;

  width: 139px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 17px;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;

  background-color: #ffffff;
}

.navigation-link-active {
  position: relative;
}

.navigation-link-active::before {
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 17px;
  height: 2px;

  background-color: #756257;
  content: " ";
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  max-width: 264px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  position: relative;
  min-width: 18px;
  min-height: 18px;

  display: block;
  margin: 0;
  padding: 24px 12px;

  font-size: 0;
  line-height: 0;
}

.navigation-hotels-rate {
  position: absolute;
  left: 24px;
  bottom: 31px;

  width: 20px;
  height: 20px;

  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 50%;
}

.navigation-link:hover {
  color: #756257
}

.navigation-link:hover path {
  fill: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);

  outline: none;
}

.navigation-link:active path {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-link:active > .navigation-hotels-rate {
  color: rgba(255, 255, 255, 0.3);
}

.item-button {
  padding: 14px 0;
  padding-left: 20px;
}

.navigation-button {
  display: block;
  box-sizing: border-box;
  padding-top: 9px;
  padding-bottom: 8px;
  width: 160px;

  text-align: center;

  border-radius: 4px;
}

 .main-container {
  flex-grow: 1;
}

.main-index {
  text-align: center;
}

.index-header {
  padding-top: 51px;
  margin-bottom: 62px;

  background-color: #83b3d3;
  background-image: url("../images/divider-transparent.png"), url("../images/index-background.jpg");
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.welcome-image {
  height: auto;
  margin: 0 auto;
  margin-bottom: 78px;
}

.welcome-title {
  display: block;
  width: 720px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 31px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.welcome-description {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 80px;

  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  color: #333333;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.benefits-item-wrapper {
  width: 400px;
  padding-top: 97px;
  padding-bottom: 108px;
}

.benefits-dark .benefits-item-wrapper {
  padding-top: 97px;
  padding-bottom: 87px;
}

.benefits-dark {
  display: flex;
  flex-wrap: wrap;

  color: #ffffff;

  background-color: #83b3d3;
}

.benefits-item:nth-child(n):not(.benefits-dark) {
  background-color: rgba(131, 179, 211, 0.12);
}

.benefits-item:nth-child(2n):not(.benefits-dark) {
  background-color: rgba(131, 179, 211, 0.20);
}

.benefits-photo {
  height: 100%;
  object-fit: cover;
}

.benefits-title {
  display: block;
  margin: 0;
  padding: 0 110px;
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.benefits-number {
  display: block;
  margin-bottom: 30px;
}

.benefits-description {
  margin: 0 auto;
  padding: 0 75px;

  color: #333333;
}

.benefits-dark .benefits-description {
  padding: 0 90px;
  width: 220px;

  color: #ffffff;
}

.benefits-detail-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

  background-color: #ffffff;
}

.benefits-detail:nth-child(n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.benefits-detail:nth-child(2n) {
  background-color: #ffffff;
}

.benefits-detail {
  padding-top: 84px;
  padding-bottom: 89px;
}

.benefits-detail .benefits-title {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-top: 100px;
}

.benefits-detail .benefits-title::before {
  position: absolute;
  left: 50%;

  display: block;

  transform: translate(-50%, 0);
}

.benefits-detail:nth-child(2n) {
  background-color: #ffffff;
}

.building-icon::before {
  content: url("../images/building-icon.svg");
  top: 0;
}

.food-icon::before {
  content: url("../images/food-icon.svg");
  top: 0;
}

.gift-icon::before {
  content: url("../images/gift-icon.svg");
  top: 0;
}

.searching {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 89px;
  padding-bottom: 93px;
}

.searching-title {
  margin: 0;
  padding: 0;
  width: 720px;
  margin-bottom: 29px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.searching-description {
  margin: 0 auto;
  padding: 0 240px;
  width: 720px;
  margin-bottom: 56px;

  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.searching-button {
  display: block;
  box-sizing: border-box;
  padding: 12px 0;
  width: 575px;

  font-size: 20px;
  line-height: 36px;

  border-radius: 10px;
}

.newsletter {
  padding: 94px 0;

  color: #ffffff;

  background-color: #83b3d3;
  background-image: url("../images/newsletter-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.newsletter-title {
  padding: 0;
  margin: 0;
  margin-bottom: 29px;

  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-description {
  padding: 0 240px;
  margin: 0;
  margin-bottom: 46px;

  font-size: 22px;
  line-height: 26px;
}

.newsletter-wrapper {
  display: flex;
  justify-content: center;
}

.newsletter-button {
  display: block;
  width: 200px;
  padding: 17px 0;

  font-size: 20px;
  line-height: 26px;

  border-radius: 0 10px 10px 0;
}

.field-newsletter {
  box-sizing: border-box;
  padding: 17px 20px;
  width: 600px;
  border: none;

  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;

  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
}

.field-newsletter:hover {
  color: rgba(0, 0, 0, 0.6);

  background-color: #e5e5e5;
}

.field-newsletter:focus {
  color: rgba(0, 0, 0, 0.6);

  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.field-newsletter:not(:placeholder-shown):invalid {
  outline: none;

  color: rgba(0, 0, 0, 0.6);

  background-color: #ffffff;
  border: 2px solid #ff5757;
}

.field-newsletter:disabled {
  color: #ffffff;

  background-color: #756257;
}

.page-footer-container {
  display: flex;
  align-items: center;

  width: 1100px;
  margin: 0 auto;
  padding: 25px 0;
}

.footer-social {
  width: 126px;
  margin-right: 51px;
  padding-left: 12px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.button-social {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border-radius: 10px;
}

.footer-social-item:not(:nth-child(3n)) {
  margin-right: 3px;
}

 button-social:focus {
  outline: 3px solid #83b3d3;
}

.button-social:active {
  outline: none;
}

.button-social:hover path,
.button-social:focus path {
  fill: #68a2ca;
}

.button-social:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts {
  display: block;
  text-align: center;
  margin-right: 31px;
  width: 720px;
}

.footer-contacts-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 70px;

  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;

  background-color: #ffffff;
  border-radius: 10px;
}

.footer-contacts-phone:focus {
  outline: 3px solid #83b3d3;
  color: #756257;
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-contacts-phone:active {
  outline: none;
  color: rgba(117, 98, 87, 0.3);
}

.footer-logo {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 70px;

  border-radius: 10px;
}

.footer-logo:focus {
  outline: 3px solid #83b3d3;
}

.footer-logo:hover path,
.footer-logo:focus path {
  fill: #756257;
}

.footer-logo:active {
  outline: none;
}

.footer-logo:active path {
  fill: rgba(117, 98, 87, 0.3);
}

.inner-header {
  padding-top: 37px;

  color: #ffffff;

  background-color: #83b3d3;
  background-image: url("../images/catalog-filter-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.wrapper-inner-header {
  display: flex;
  flex-direction: column;
  width: 1058px;
  margin: 0 auto;
}

.inner-header-title {
  font-size: 60px;
  line-height: 69px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 44px;
}

.breadcrumbs-item {
  position: relative;
}

 .breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  content: url("../images/breadcrumbs-link.svg");
  right: -10px;
  top: 0;

  display: block;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 20px;
}

.breadcrumbs-link {
  display: block;
  margin-left: 0;
  min-width: 21px;
  min-height: 21px;

  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;

  color: #ffffff;

  border-radius: 4px;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover path,
.breadcrumbs-link:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:focus {
  outline: 3px solid #83b3d3;
}

.catalog-filter-form {
  display: flex;
  margin-bottom: 72px;
}

 .catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  padding: 0;
  margin: 0;
  margin-left: -15px;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-infrastructure {
  width: 184px;
  padding: 0 16px;
}

.catalog-filter-type {
  width: 265px;
  padding: 0 16px;
}

.catalog-filter-cost {
  max-width: 300px;
  padding: 0 16px;
}

.catalog-filter-button {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin-left: auto;
  padding-top: 62px;
}

.filter-button {
  padding: 14px 0;
  margin-bottom: 18px;
}

.filter-button:focus {
  outline: 3px solid #ffffff;
}

.button-transparent {
  padding: 0 2px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-transform: capitalize;

  background-color: transparent;
}

.button-transparent:hover {
  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;
}

.button-transparent:focus {
  background-color: transparent;
  outline: 3px solid #83b3d3;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.control-label {
  display: block;
  position: relative;
  margin-left: 25px;
  margin-bottom: 12px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.control-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-infrastructure {
  position: absolute;
  top: 2px;

  margin: 0;
  display: block;
  width: 20px;
  height: 20px;
  margin-left: -40px;

  background: #ffffff;
  border-radius: 4px;
  outline-offset: 0;
}

.control-input:checked:focus + .input-infrastructure,
.control-input:focus + .input-infrastructure {
  outline: 3px solid #83b3d3;
}

.control-input:focus + .input-infrastructure,
.control-input:hover + .input-infrastructure,
.control-input:checked:hover + .input-infrastructure,
.control-input:checked:focus + .input-infrastructure {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input:active + .input-infrastructure,
.control-input:checked:active + .input-infrastructure {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input:disabled + .input-infrastructure,
.control-input:checked:disabled + .input-infrastructure {
  background-color: #756257;
}

.control-input:checked + .input-infrastructure,
.control-input:checked:hover + .input-infrastructure,
.control-input:checked:focus + .input-infrastructure,
.control-input:checked:active + .input-infrastructure {
  background-image: url("../images/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.input-type {
  position: absolute;

  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: none;
  margin-left: -40px;

  background: #ffffff;
  border-radius: 50%;
  outline-offset: 0;
}

.control-input:focus + .input-type {
  border: 3px solid #83b3d3;
}

.control-input:checked + .input-type,
.control-input:checked:focus + .input-type {
  background-color: #3f5e72;
  border: 5px solid #ffffff;
}

.control-input:checked:focus + .input-type {
  outline: 3px solid #83b3d3;
}

.control-input:disabled + .input-type {
  background-color: #756257;
}

.control-input:checked:disabled + .input-type {
  background-color: #756257;
  border: 5px solid #7db54f;
}

.filter-title-cost {
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
}

.catalog-cost-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.control-label-cost {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 144px;
  outline-offset: 0;
  border: 2px solid #ffffff;

  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;
  border-radius: 4px;

  cursor: pointer;
}

.label-cost-left {
  border-radius: 4px 0 0 4px;
}

.label-cost-right {
  border-radius: 0 4px 4px 0;
  margin-left: -2px;
}

.control-input-cost {
  display: block;
  box-sizing: border-box;
  padding: 10px 0;
  margin: 0;
  width: 90px;

  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;

  background: transparent;
  outline: none;
  border: none;
  outline-offset: 0;

  -moz-appearance: textfield;
}

.control-input-cost::-webkit-outer-spin-button,
.control-input-cost::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-cost-left {
  border-radius: 4px 0 0 4px;
}

.input-cost-right {
  border-radius: 0 4px 4px 0;
}

.control-label-cost:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.control-label-cost:focus-within {
  z-index: 1;

  border: 2px solid rgba(255, 255, 255, 1);
  box-shadow: inset 0 0 0 3px #83b3d3, 0 0 0 3px #83b3d3;
}

.control-label-cost:active {
  border: 2px solid rgba(255, 255, 255, 1);

  background-color: #756257;
  box-shadow: none;
}

.control-input-cost:disabled {
  color: #7db54f;
}

.filter-range-bar {
  position: relative;

  height: 4px;

  background: rgba(255, 255, 255, 0.3);
}

.range-bar-part {
  position: absolute;

  height: 4px;

  background: #ffffff;
}

.range-handle {
  position: absolute;
  top: -8px;

  height: 20px;
  width: 20px;

  background-color: #ffffff;
  border-radius: 5px;
  border: 0;
  outline-offset: 0;

  cursor: pointer;
}

.range-handle-right {
  left: 216px;
}

.range-handle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-handle:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  outline: 3px solid #83b3d3;
}

.range-handle:active {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  outline: 2px solid #83b3d3;
}

.range-handle:disabled {
  background-color: #756257;
}

.wrapper-main-inner {
  padding: 0;
  width: 1058px;
  margin: 0 auto;
}

.hotels-sort {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 36px 0;
  width: 1058px;
  margin-bottom: 9px;

  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotels-sort-title {
  display: block;
  margin-right: 192px;
}

.sorting-type {
  display: flex;
  align-items: center;
  margin-right: auto;
  width: 287px;
}

.select-control {
  width: 100%;
  border: 2px solid #e6e6e6;

  font: inherit;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;

  border-radius: 4px;
  background-color: #ffffff;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
  outline: none;
}

.select-hotel-price {
  padding: 12px 18px;
  padding-right: 100px;
}

.select-control:hover,
.select-control:focus {
  border-color: #83b3d3;
}

.select-control:active {
  border-color: #e6e6e6;
  opacity: 30%;
}
.select-control:disabled {
  background-color: #7db54f;
}

.mode-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 160px;
  margin-left: auto;
}

.mode-item {
  padding: 8px 0;
}

.mode-button {
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 2px solid #e6e6e6;

  border-radius: 4px;
  background-color: transparent;
}

.mode-button-active {
  background-color: transparent;
  border: 2px solid #000000;
}

.mode-button:hover,
.mode-button:focus {
  outline: none;
  border: 2px solid #83b3d3;
}

.mode-item:not(:nth-child(3n)) .mode-button {
  margin-right: 8px;
}

.mode-item:nth-child(1n) .mode-button {
  background-image: url("../images/mode-tile-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.mode-item:nth-child(2n) .mode-button {
  background-image: url("../images/mode-slideshow-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.mode-item:nth-child(3n) .mode-button {
  background-image: url("../images/mode-list-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-hotel {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom-color: #e6e6e6;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.hotel-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  row-gap: 8px;
}

.hotel-card {
  margin: 0;
  padding: 20px;
  width: 300px;
  display: grid;
  grid-template-columns: 140px 19px 141px;
  grid-template-rows: min-content min-content min-content auto min-content;
  row-gap: 16px;
}

.hotel-card-img-link {
  grid-column: 1/-1;
  outline-offset: 0;
}

.hotel-card-image {
  display: block;
}

.hotel-card-img-link:hover {
  opacity: 60%;
}

.hotel-card-img-link:focus {
  outline: 3px solid #83b3d3;
}

.hotel-card-img-link:active {
  outline: none;
  opacity: 30%;
}

.hotel-card-title-link {
  grid-column: 1/-1;

  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  color: #000000;

  background-color: #ffffff;
  border-radius: 3px;
}

.hotel-card-title-link:focus {
  outline: 3px solid #83b3d3
}

.hotel-card-title {
  padding: 0;
  margin: 0;

  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;

  background-color: #ffffff;
}

.hotel-card-title:hover,
.hotel-card-title:active {
  color: #68a2ca;
}

.hotel-card-type {
  grid-column: 1/-3;

  line-height: 23px;
  color: #333333;
}

.card-price-title {
  grid-column: 3/-1;

  line-height: 23px;
  color: #333333;
}

.card-button-details {
  grid-column: 1/-3;
  align-self: end;
  width: 133px;
  display: inline-block;
  text-align: center;
  padding: 9px 0;

  border-radius: 4px;
}

.card-button {
  grid-column: 3/-1;
  align-self: end;
  display: inline-block;
  text-align: center;
  width: 141px;
  padding: 9px 0;

  border-radius: 4px;
}

.hotel-range {
  grid-column: 2/-1;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.hotel-range-title {
  display: block;
  padding-top: 7px;
  padding-bottom: 9px;

  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.stars::before {
  display: block;
  height: 37px;

  content: " ";
  background-image: url("../images/star.svg");
  background-repeat: repeat-x;
  background-position: left center;
}

.four-stars::before {
  width: 91px;
}

.three-stars::before {
  width: 68px;
}

.two-stars::before {
  width: 43px;
}

.pagination-show-more {
  display: block;
  align-items: center;
  width: 620px;
  padding: 17px 0;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 20px;
  line-height: 26px;

  border-radius: 4px;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px;
  padding-top: 30px;

  border-top-color: #e6e6e6;
  border-top-style: solid;
  border-top-width: 1px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 520px;
  margin-right: auto;
}

.pagination-item {
  margin-bottom: 8px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 55px;
  padding: 15px 0;

  font-family: inherit;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;

  border-radius: 4px;
}

.pagination-current {
  color: #000000;

  background-color: #f2f2f2;
}

.select-label {
  margin-bottom: 8px;
  margin-right: 51px;

  line-height: 24px;

  color: #333333;
}

.hotel-number {
  display: flex;
  align-items: center;
  width: 160px;
}

.select-hotel-number {
  margin: 0;
  padding: 12px;
  padding-right: 100px;
  margin-bottom: 8px;
}

.newsletter-inner {
  text-align: center;
  color: #000000;

  margin-bottom: 140px;
}

.newsletter-inner-title {
  margin-bottom: 46px;
}
.newsletter-inner-description {
  margin-bottom: 46px;

  color: #333333;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  width: 100%;
  height: 100%;

  background: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;

  margin: auto;
  padding: 70px;
  padding-top: 62px;

  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  width: 575px;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;

  padding: 0;
  width: 53px;
  height: 53px;
  background: #f2f2f2;
  border: none;
  border-radius: 50%;

  cursor: pointer;
}

.modal-close-button:hover,
.modal-close-button:active {
  background: #e6e6e6;
}

.modal-close-button:focus {
  background: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active .close-button-icon {
  opacity: 0.3;
}

.modal-title {
  padding: 0;
  margin: 0;
  max-width: 500px;
  margin-bottom: 60px;

  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.field-group {
  display: flex;
  align-items: center;
  margin: 0;
}

.field-group-date {
  position: relative;
}

.modal-label,
.field-modal {
  font-size: 18px;
  line-height: 41px;
  font-weight: 700;
}

.modal-label {
  display: block;
  width: 155px;
}

.field-modal {
  display: block;
  border: none;
  width: 382px;
  padding: 5px 19px;

  font-family: inherit;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);

  background-color: #f2f2f2;
  border-radius: 4px;
}

.field-modal:not(:placeholder-shown) {
  color: #000000;
}

.field-modal:hover {
  background: #e6e6e6;
}

.field-modal:focus {
  background: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.field-modal:active {
  background-color: #ffffff;
}

.field-modal:disabled {
  color: #ffffff;

  background-color: #756257;
}


.date-icon {
  position: absolute;
  top: 18px;
  right: 19px;
}

 .modal-message {
  display: block;
  width: 420px;
  margin-left: auto;
  margin-bottom: 11px;

  font-size: 16px;
  line-height: 30px;
}

.modal-message-error {
  color: #ff5757;
}

.modal-message-success {
  color: #333333;
}

.field-group-wrapper {
  display: flex;
  margin-bottom: 40px;
}

.field-group-adult {
  width: 288px;
  margin-right: 56px;
}

.field-group-children {
  width: 240px;
}

.input-group {
  position: relative;

  margin: 0;
  margin-left: auto;
}

.model-button-handle {
  position: absolute;
  top: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: none;

  background-color: transparent;
}

.model-button-handle:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.model-button-handle:hover path,
.model-button-handle:focus path {
  fill: #000000;
  opacity: 1;
}

.handle-plus {
  right: 13px;
}

.handle-minus {
  left: 13px;
}

.field-modal-people {
  padding: 5px 0;
  width: 133px;

  text-align: center;

  border-radius: 4px;

  -moz-appearance: textfield;
}

.field-modal-people::-webkit-outer-spin-button,
.field-modal-people::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.label-children {
  width: 54px;
}

.modal-button-find {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;

  font-size: 20px;
  line-height: 40px;

  border-radius: 10px;
}

.modal-button-information {
  position: relative;

  display: block;
  width: 25px;
  height: 25px;

  border-radius: 50%;
  background-color: #83b3d3;
  background-image: url("../images/popup-info.svg");
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.modal-button-information::before {
  position: absolute;
  top: 100%;
  z-index: 99;

  margin-top: 6px;

  border-width: 0 9px 9px 9px;
  border-style: solid;
  border-color: #333333 transparent #333333 transparent;
  opacity: 0;

  transform: translateX(-50%);
  content: "";
}

.modal-button-information::after {
  position: absolute;
  top: 100%;
  left: 12px;
  z-index: 99;

  display: block;
  box-sizing: border-box;
  padding: 22px;
  margin-top: 15px;
  width: 256px;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  text-align: left;
  color: #ffffff;

  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  opacity: 0;

  transform: translateX(-50%);
  content: "Укажите количество детей, которые будут с вами, возраст которых от 6 до 18 лет. Дети до 6 лет размещаются бесплатно.";
  pointer-events: none;
}

.modal-button-information:hover::after,
.modal-button-information:hover::before {
  opacity: 1;
  transition-delay: 1.3s;
  transition: all 1.5s;
}


.modal-container-close {
  display: none;
}

