
@font-face {
  font-family:"PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family:"PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* outline: 5px solid rgba(255, 99, 78, 0.5);
  outline-offset: -5px;
  */

html {
  height: 100%;
  background-color: #e5e5e5;
  padding-left: 40px;
  padding-right: 40px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  width: 1200px;
  margin: 0 auto;
}


.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.button-blue {
  background-color: #83B3D3;
}

.button-like {
  background-color:  #7DB54F;
}

.navigation {
  display: flex;
  width:  1060px;
  margin: 0 auto;
}

.navigation-logo {
  width: 139px;
  margin-right: 30px;
}

.navigation-list {
  width: 490px;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.navigation-user {
  max-width: 310px;
  margin-left: auto;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  text-align: center;
}


.index-header{
  height: 485px;
  background-color: #83B3D3;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.welcome {
  height: 485px;
  background-image: url("../images/divider-transparent.png");
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

.welcome-title {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 720px;
  margin: 0 auto;
}

.welcome-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  width: 720px;
  margin: 0 auto;
}


.benefits-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display:flex;
  flex-wrap: wrap;
}

.benefits-detail-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display:flex;
  background-color:#ffffff;
 }
 .benefits-item-wrapper {
  width: 400px;
}

.benefits-dark {
  color: #ffffff;
  background-color: #83b3d3;
  display: flex;
 }

.benefits-detail:nth-child(n) {
  background-color: rgba(131,179,211,0.12);
}

.benefits-detail:nth-child(2n) {
  background-color: #ffffff;
}

.benefits-item:nth-child(n):not(.benefits-dark) {
  background-color: rgba(131,179,211,0.12);
}

.benefits-item:nth-child(2n):not(.benefits-dark) {
  background-color: rgba(131,179,211,0.20);
}

.benefits-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.benefits-description {
  color: #333333;
}

.benefits-dark .benefits-description {
color: #ffffff;
}

.benefits-photo-left {
order: -1;
}
/*
.benefits-photo {
  max-width: 100%;
  object-fit: contain;
  vertical-align: middle;
  margin: auto;
}
*/




.searching-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.searching-description {
  font-size: 30px;
  line-height: 36px;
  color: #333333;
  margin: 0;
  padding: 0;
  width: 720px;
  margin: 0 auto;
}

.searching-button {
  font-size: 20px;
  line-height: 36px;
}

.newsletter {
  color: #ffffff;
  height: 411px;
  background-color: #83b3d3;
  background-image: url("../images/news-letter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;

}
.newsletter-description {
  font-size: 22px;
  line-height: 26px;
}

.newsletter-button {
  font-size: 20px;
  line-height: 26px;
}


.page-footer-container {
  display: flex;
  align-items: center;
  width: 1056px;
  margin: 0 auto;
}
.footer-social {
  width: 107px;
  margin: 0;
  padding: 0;
  margin-right: 61px;
 }

.footer-contacts {
  width: 720px;
  text-align: center;

}
.footer-contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

/*
.twitter::before {
  content: " ";
  background-color:  #ffffff;
  background-image: url("../images/twitter.svg") ;
  display: inline-flex;
  width: 18px;
  height: 15px;
}


.twitter {
  background-image: url("../images/twitter.svg");
}
*/

.footer-logo {
  padding-top: 19px;
  padding-left: 23px;
  padding-bottom: 19px;
  padding-right: 23px;
  margin-left: auto;
  max-width: 115px;
}

.footer-logo-icon {
  vertical-align: middle;
}
.footer-logo-icon:hover {
  fill: #756257;
}

.footer-logo:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
  }

.footer-logo-icon:active {
  fill: #756257;
  opacity: 30%;
}

.footer-logo:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
  }


/*
  .breadcrumbs-list,
  .catalog-filter-list,
  .pagination-list,
  .mode-list,
  .hotel-list,
  .footer-social-list {

  }

*/

.inner-header {
  color: #ffffff;
  background-color: #83b3d3;
  background-image: url("../images/catalog-filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.wrapper-inner-header {
  width: 1056px;
  margin: 0 auto;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
 }
 .catalog-filter-form {
  display:flex;
 }
 .catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
 }

.catalog-filter-infrastructure {
  width: 200px;
  margin-right: 16px;
}

.catalog-filter-type {
  width: 200px;
  margin-right: 12px;
}
.catalog-filter-cost {
  width: 287px;
}

.catalog-filter-button {
  width: 160px;
  margin-left: auto;
  display:flex;
  flex-direction: column;}

.button-transparent {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  border: 0;
  background-color: Transparent;
  text-decoration: none;
  text-transform: capitalize;
  }

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.hotels-sort {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.select-control {
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}

.hotel-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.hotel-card {
  width: 340px;
}

.hotel-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  }


.hotel-card-type {
  line-height: 24px;
  color: #333333;

}
.card-price-title {
  line-height: 24px;
  color: #333333;
}
.hotel-card-image{
  max-width: 100%;
  object-fit: contain;
  display: block;
}
.hotel-range {
  background-color:  #F2F2F2;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.stars::before {
  content: " ";
  background-image: url("../images/star.svg") ;
  background-repeat: repeat-x;
  display: block;
  top:10px;
  left:0px;
  height: 17px;
}
.four-stars::before {
  width: 91px;
 }

 .three-stars::before {
  width: 68px;
 }

 .two-stars::before {
  width: 43px;
 }



.pagination-link {
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.pagination-current {
  color:  #000000;
  background-color: #F2F2F2;
}
.pagination-show-more {
  font-size: 20px;
  line-height: 26px;
}

.select-label {
  line-height: 24px;
  color: #333333;
}

.newsletter-inner {
  text-align: center;
  color: #000000;
 }

 .newsletter-inner-description {
  color: #333333;
}

.field-newsletter {
color: #000000;
background-color: #F2F2F2;
text-decoration: none;
font-size: 18px;
line-height: 26px;
}









